{
	"singleQuote": true,
	"semi": true,
	"useTabs": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"printWidth": 80,
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"arrowParens": "always",
	"editor.formatOnSave": true
}
